Package: com.mlgm.kayoko
Name: Kayoko
Version: 4.7.2
Architecture: iphoneos-arm
Description: 功能丰富的剪切板管理器，基于 Kayoko (乌龙版本) 进行修改
Maintainer: mlgm
Author: mlgm
Section: Tweaks
Icon: https://mlgm66.github.io/icon/kayoko.png
Depends: firmware (>= 14.0), mobilesubstrate, preferenceloader
Conflicts: codes.aurora.kayoko, dev.traurige.kayoko, com.82flex.kayoko, com.skypain.kayoko, com.dao.kayoko, xyz.cypwn.kayoko
Replaces: codes.aurora.kayoko, dev.traurige.kayoko, com.82flex.kayoko, com.skypain.kayoko, com.dao.kayoko, xyz.cypwn.kayoko
