Package: com.mlgm.kayoko
Name: Kayoko
Version: 4.7.1
Architecture: iphoneos-arm
Description: Kayoko 剪切板，mlgm 基于「乌龙工作室」版进行二次修改
Maintainer: mlgm
Author: mlgm
Section: Tweaks
Icon: https://mlgm66.github.io/icon/kayoko.png
Depends: firmware (>= 14.0), mobilesubstrate, preferenceloader, com.opa334.altlist
Conflicts: codes.aurora.kayoko, dev.traurige.kayoko, com.82flex.kayoko, com.skypain.kayoko, com.dao.kayoko, xyz.cypwn.kayoko
Replaces: codes.aurora.kayoko, dev.traurige.kayoko, com.82flex.kayoko, com.skypain.kayoko, com.dao.kayoko, xyz.cypwn.kayoko
